name: elastic-stack
services:
  elasticsearch:
    hostname: elasticsearch.docker.local
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:9.1.3
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false # For development, disable security
      - xpack.security.http.ssl.enabled=false
      - xpack.security.enrollment.enabled=false
      - bootstrap.memory_lock=true # Disable swapping
      - ES_JAVA_OPTS=-Xms2g -Xmx2g # Adjust heap size as needed
    mem_limit: 4G
    ports:
      - "9200:9200"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health?wait_for_status=yellow"]
      interval: 10s
      timeout: 10s
      retries: 20
      start_period: 20s
    ulimits:
      # Required for Elasticsearch to function correctly
      # Disable swapping
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - vol_elasticsearch:/usr/share/elasticsearch/data
    networks:
      elastic-network:
        aliases:
          - elasticsearch.docker.local

  kibana:
    hostname: kibana.docker.local
    container_name: kibana
    image: docker.elastic.co/kibana/kibana:9.1.3
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch.docker.local:9200
      - xpack.security.enabled=false # For development, disable security
    ports:
      - "5601:5601"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:5601/api/status"] # Or a more specific Kibana readiness endpoint
      interval: 10s
      timeout: 5s
      retries: 240
      start_period: 60s # Give Kibana time to start before checking
    depends_on:
      elasticsearch:
        condition: service_healthy
    networks:
      elastic-network:
        aliases:
          - kibana.docker.local

  apm-server:
    hostname: apm-server.docker.local
    container_name: apm-server
    image: docker.elastic.co/apm/apm-server:9.1.3
    environment:
      - APM_SERVER_KIBANA_HOST=kibana.docker.local:5601
      - APM_SERVER_OUTPUT_ELASTICSEARCH_HOSTS=elasticsearch.docker.local:9200
      - xpack.security.enabled=false # For development, disable security
    ports:
      - "8200:8200" # APM Server intake port
    restart: unless-stopped
    depends_on:
      elasticsearch:
        condition: service_healthy
      kibana:
        condition: service_healthy # Technically not dependent ubt gives a visual indicator that Kibana is up (its slow to start)
    networks:
      elastic-network:
        aliases:
          - apm-server.docker.local

  otel-collector:
    hostname: otel-collector.docker.local
    container_name: otel-collector
    image: otel/opentelemetry-collector-contrib:0.134.1 
    command: ["--config=/etc/otel-collector-config.yml"]
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml # Mount your OTel Collector config
      - ${DOCKER_LOCAL_CERT_PATH:-$HOME/Github/docker-local-certs}/docker-local.crt:/certs/docker-local.crt:ro
      - ${DOCKER_LOCAL_CERT_PATH:-$HOME/Github/docker-local-certs}/docker-local.key:/certs/docker-local.key:ro
    ports:
      - "4317:4317"   # OTLP gRPC receiver (Insecure)
      - "50051:50051" # OTLP gRPC receiver (Secure)
      - "4318:4318"   # OTLP Http receiver (Insecure)
      - "50052:50052" # OTLP Http receiver (Secure)
    restart: unless-stopped
    depends_on:
      - apm-server
    networks:
      elastic-network:
        aliases:
          - otel-collector.docker.local

networks:
  elastic-network:
    driver: bridge

volumes:
  vol_elasticsearch: